@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --preto: #000;
    --branco: #fff;
    
    --cor01: #9D45E5;
    --cor02: #FF761A;
    --cor03: #00BB6F;
    --cor04: #FDBD00;
    --cor05: #30A1DE;
    --cor06: #DC5454;
    --cor07: #70D106;
    --cor08: #B606D1;
    
    --cor-font: #dbdfe2;

    --font-padrao:'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: var(--font-padrao);
    color: var(--cor-font);
    background-color: var(--preto);
    background-image: url('../imgs/pexels-ingnio-studio-665214\ \(1\).jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

header#container {
    background-color: var(--preto);
    text-align: center;
    padding: 20px;
    color: var(--cor-font);
    min-height: 100px;
    border-bottom: 4px solid rgb(219, 223, 226, 0.125);
}

div#header_form h1 {
    font-size: 2.5em;
    font-weight: 700;
}

main#container {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 0px 0px 6px 6px;

    backdrop-filter: blur(8px) saturate(180%);
    -webkit-backdrop-filter: blur(8px) saturate(180%);
    background-color: rgba(0, 0, 0, 0.75);
    border: 1px solid rgb(218, 222, 225, 0.125);
    border-top: none;
}

main#container  h1 {
    font-size: 1.5em;
    font-weight: 500;
    padding-top: 20px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    columns: 2;
}

li {
    border-bottom: 3px solid black;
    padding: 10px 0px;

}

section a {
    font-weight: 400;
    color: var(--cor-font);
    transition: .5s;
    padding: 10px 80px;
}

section#sites__importantes li {
    border-color: var(--cor02);
}

section#sites__importantes a:hover {
    color: var(--cor01);
}

section#sites__blogs li {
    border-color: var(--cor08);
}

section#sites__blogs a:hover {
    color: var(--cor07);
}

section#sites__css li {
    border-color: var(--cor05);
}

section#sites__css a:hover {
    color: var(--cor06);
}

section#sites__images li {
    border-color: var(--cor03);
}

section#sites__images a:hover {
    color: var(--cor04);
}

section#sites__canais li {
    border-color: var(--cor01);
}

section#sites__canais a:hover {
    color: var(--cor02);
}

section#sites__notas li {
    border-color: var(--cor06);
}

section#sites__notas a:hover {
    color: var(--cor05);
}

footer {
    text-align: center;
    background-color: var(--preto);
    padding: 3px;
    border-top: 4px solid rgb(219, 223, 226, 0.125);
}

@media (max-width: 700px) {
    header#container span {
        display: none;
    }

    header#container h1 {
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
    }

    main#container {
        margin-bottom: 0px;
        border-radius: 0px;
    }
    ul {
        columns: 1;
    }
}