@charset "Utf-8";

/* 
laranja - #FF761A
verde - #00BB6F
azul - #30A1DE
vermelho - #DC5454
verde - #70D106
preto - #505050
*/

* {
    padding: 0;
    margin: 0;

}

body {
    background-color: #f8f8f8;
    font-family: Arial, Helvetica, sans-serif;
    color: #212529;
}

header {
    text-align: center;
    background-color: #9D45E5;
    color: #fff;
    padding: 15px 0px 15px 0px;
    box-shadow: 0px 0px 15px #0000006d;

}

h1#title {
    font-size: 2.5em;
    text-shadow: 5px 5px 5px #0000003f;
    padding-bottom: 15px;

}

nav {
    margin: 0 auto;
    text-align: center;
    border: 3px solid #FDBD00;
    border-radius: 50px;
    max-width: 1000px;
    padding: 2px;
}

nav a {
    padding: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
    font-weight: 700;
    text-shadow: 5px 5px 5px #0000003f;
    transition: .5s;
}

nav a:hover {
    color: #FDBD00;
}



main {
    line-height: 40px;
    max-width: 900px;
    background-color: #fff;
    margin: auto;
    box-shadow: 0px 0px 15px #0000003f;
    border-radius: 0px 0px 10px 10px;
    padding: 15px 50px 15px 50px;
    margin-bottom: 20px;
}

main h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.215);
}

main p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

footer {
    padding: 5px;
    background-color: #9D45E5;
    color: #fff; 
}

footer div {
    text-align: center;
    border: 3px solid #FDBD00;
    border-radius: 50px;
    max-width: 1000px;
    margin: auto;
}

